/************************************/
/*************ROBOTO FONT***********/
/**********************************/
@font-face {
    font-family: "Roboto";
    src: url("/roboto/Roboto-Thin.ttf");
    font-weight: 200;
}

@font-face {
    font-family: "Roboto";
    src: url("roboto/Roboto-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    src: url("roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("roboto/Roboto-Bold.ttf");
    font-weight: 700;
}

html, body {
    font-family: "Roboto", sans-serif;
    background-color:#222426;
}

/***************************/
/******OVERWRITE INPUTS*****/
/***************************/
.list-block input[type="time"],
.list-block input[type="number"],
.list-block input[type="search"],
.list-block input[type="text"],
.list-block input[type="password"],
.list-block input[type="email"],
.list-block input[type="tel"],
.list-block input[type="url"],
.list-block input[type="date"],
.list-block input[type="datetime-local"],
.list-block select,
.list-block textarea {
    font-size: 20px;
    height: 60px;
    border-bottom: 1px solid #757575;
}

    .list-block input[type="time"]:focus,
    .list-block input[type="number"]:focus,
    .list-block input[type="search"]:focus,
    .list-block input[type="text"]:focus,
    .list-block input[type="password"]:focus,
    .list-block input[type="email"]:focus,
    .list-block input[type="tel"]:focus,
    .list-block input[type="url"]:focus,
    .list-block input[type="date"]:focus,
    .list-block input[type="datetime-local"]:focus,
    .list-block select:focus,
    .list-block textarea:focus {
        font-size: 20px;
        height: 60px;
        border-bottom: 1px solid #007aff;
    }
/***************************/
/******OVERWRITE BUTTON*****/
/***************************/
.button {
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

    .button.button-big {
        font-size: 20px;
        height: 55px;
        line-height: 54px;
    }
/*************************/
/***OVERWRITE LAYOUT *****/
/*************************/
.layout-dark .list-block ul::before,
.list-block.layout-dark ul::before {
    background-color: transparent;
}

.layout-dark .list-block ul::after,
.list-block.layout-dark ul::after {
    background-color: transparent;
}

.layout-dark .list-block ul,
.list-block.layout-dark ul {
    background-color: transparent;
}

    .layout-dark .item-inner::after,
    .layout-dark .list-block ul ul li:last-child .item-inner::after {
        background-color: transparent;
    }
/**************************************/
/******* OVERWRITE NAVBAR *************/
/**************************************/
.navbar {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}

    .layout-dark .navbar::after,
    .layout-dark .subnavbar::after,
    .navbar.layout-dark::after,
    .subnavbar.layout-dark::after {
        background-color: transparent;
    }

.navbar, .toolbar {
    font-size: 20px;
    height: 60px;
}
/*************************/
/*OVERWRITE CONTENT BLOCK*/
/*************************/
.content-block {
    margin: 0;
    padding: 0  0 30px 0;
}
.content-block-m {
    margin: 35px 0;

}
/********************/
/**** IMAGE COVER ***/
/********************/
.cover {
    position: relative;
}

    .cover img {
        max-height: 400px;
        width: 100%;
    }

    .cover .text {
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
/*********************/
/* IMAGE AVATAR ******/
/*********************/
.avatar {
    bottom: 0;
    height: 50%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1;
}

    .avatar img {
        background-position: center center;
        background-size: cover;
        border: 1px solid rgba(255, 255, 255,0.8);
        border-radius: 50%;
        display: inline-block;
        height: 98px;
        left: auto;
        position: relative;
        width: 98px;
    }
/************************/
/*********ACTION ********/
.action {
    bottom: -25px;
    margin: 7px;
    position: absolute;
    right: 0;
}
/************************/
/** BUTTONS ROUND */
/***********************/
.btn {
}

.btn-round {
    border: none;
    border-radius: 999em;
    width: 56px;
    height: 56px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    line-height: 1;
    font-size: 25px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}

    .btn-round i {
        bottom: 0;
        color: #fff;
        height: 50%;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

.blue {
    background-color: #007aff;
}
/****************************/
/********* INPUT ICON *******/
/****************************/
.input-icon {
    font-size: 20px;
    margin-right: 20px;
}
